<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'djapp1/css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Signika&display=swap" rel="stylesheet">
    </head>

    <body>
 
        <div class="jumbotron jumbotron-fluid" style="background-image: url({% static 'djapp1/images/cooking.jpg' %})">
            <div class = "container">
                <div class="text-center textbox">
                <h3 class="title">What's Cooking: Top 5 Most Popular Dishes</h3>
                <div class="dropdown-divider"></div>
                    <p><span class="highlight">Who's eating what...and where? </span>
                    <br /> That's what we aim to answer! We used Google Trends to track the top five searches related to "how to cook" from 2014 - 2019.
                    <br/>Click the buttons below to see which countries had the most searches for these dishes.</p>
                </div>
            </div>
        </div>
    
        
            <div class="container">
                <div class="iframe-container">
                    <iframe width=100%  height="650" frameborder="0" scrolling="no" src="//plot.ly/~cparker10/16.embed?autosize=true&link=false&logo=false?width=100%&modebar=false"></iframe>
                </div>
                <hr>
                <p><span class="source">Source: Google Trends, June, 2014 - June, 2019</span></p>
                <p><span class="source">Note: Search volume is relative based on popularity of the term. A search value of 50 is half as popular as that with a value of 100.</span></p>
            </div> 
              
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </body>
</html>